$overview-padding: 10px 0 25px 0;
$overview-paragraph-padding: 0 0 5px 0;
$overview-paragraph-margin: 0 0 0 0;

$overview-topic-nav-padding: 0 0 0 0;
$overview-topic-nav-margin: 0 15px 0 15px;
$overview-topic-item-padding: 5px 5px 5px 5px;
$overview-topic-item-margin: 10px 10px 10px 10px;

$overview-block-padding: 0 0 0 0;
$overview-block-margin: 10px 0 10px 0;
// 1px padding-bottom for avoiding margin collapsing
$overview-item-padding: 0 0 8px 30px;
$overview-item-margin: 0 20px 0 35px;
$overview-link-btn-padding: .5em 1em .5em 1em;
$overview-link-btn-margin: 5px 10px 5px 10px;
$overview-link-bar-padding: 5px 20px 5px 20px;
$overview-link-bar-margin: 0 get-right-value($overview-item-margin) 10px get-left-value($overview-item-margin);
$overview-link-tag-padding: scale-list($overview-link-bar-padding, .5);
$overview-link-tag-margin: 0 5px 5px 0;

%overview-btn {
  padding: $overview-link-btn-padding;
  margin: $overview-link-btn-margin;
  @include border-color('secondary-fc-dark');
  border-style: solid; border-width: 1px; border-radius: 1em;
  color: inherit; font-size: .875em;
  @include background-color('primary-bc-dark');
  @include transition($transition-appearance);
  &:hover {
    @include border-color('primary-fc');
    @include background-color('primary-bc-light');
  }
}

%overview-block {
  padding: $overview-block-padding;
  margin: $overview-block-margin;
}

%overview-row {
  position: relative;
  padding: $overview-item-padding;
  margin: $overview-item-margin;
  @include border-left-color('primary-bc');
  border-left-style: solid;
  border-left-width: 1px;
  @include transition(join-list($transition-appearance, $transition-font));

  &__with-timeline {
    @include border-left-color('secondary-fc-dark');
  }
  &__half {
    padding: $overview-item-padding;
    margin: $overview-item-margin;
  }
}

%overview-post_title {
  @include color('primary-fc');
  @include transition($transition-font);
  &:hover {
    @include color('primary-fc-light');
  }
}

%overview-post_excerpt {
  @include color('secondary-fc');
  @include transition($transition-font);
  &:hover {
    @include color('primary-fc');
  }
}

%overview-post_meta {
  @include color('secondary-fc'); @include transition(color);
  &:hover {}
}

%overview-post_meta-element {
  @include color('secondary-fc'); @include transition(color);
  &:hover {
    @include color('primary-fc');
  }
}

// create an link
// @param   {enumerable string}  type: the type of the link
@mixin item-link ($type) {
  @if $type == 'bar' {
    display: block;
    padding: $overview-link-bar-padding;
    margin: $overview-link-bar-margin;
    @include background-color('primary-bc-dark');
    @include color('secondary-fc');
    @include transition(join-list($transition-font, $transition-appearance));
    &:hover {
      @include background-color('primary-bc-light');
      @include color('primary-fc');
    }
  } @else if $type == 'tag' {
    display: inline-block;
    padding: $overview-link-tag-padding;
    margin: $overview-link-tag-margin;
    border-style: solid; border-width: 1px; border-radius: 5px;
    @include background-color('primary-bc-dark');
    @include color('secondary-fc');
    @include transition(join-list($transition-font, $transition-appearance));

    &:hover {
      @include background-color('primary-bc-light');
      @include color('primary-fc');
    }
  } @else {
    @warn 'Link type \'#{$type}\' didn\'t define.';
  }
}

// Utilities
@mixin u-base {
  h1, h2, h3, h4, h5, h6 {
      @include clearstyle-edge;
      font-weight: 300;
      cursor: default;
  }
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  p {
    padding: 0 0 5px 0;
    margin: 0 0 0 0;
    font-size: 1em;
  }
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

@mixin b-overview {
  .overview {
    width: 100%;
    height: 100%;
    padding: $overview-padding;
    margin: 0 !important;
    overflow-y: auto;
    @include color('primary-fc');
    font-size: 1rem;
    @include background-color('primary-bc');
    @include transition(join-list($transition-font, $transition-appearance));

    &_btn {
      @extend %overview-btn;

      &:hover {
        @extend %overview-btn:hover;
      }
    }

    &_header {}

    &_main {}

    &_zone {}

    &_block {
      @extend %overview-block;
    }

    &_topic-nav {
      overflow: hidden;
      padding: $overview-topic-nav-padding;
      margin: $overview-topic-nav-margin;
    }

    &_topic-list {
      white-space: nowrap;
      &::after {
        // Simulate the style of .overview_topic-list-item > .overview_topic-list-heading for avoiding topic heading joggling in mobile device
        display: inline-block;
        // content: 'Zheeeng';
        padding: scale-list($overview-topic-item-padding, (1 0 1 0));
        margin: scale-list($overview-topic-item-margin, (1 0 1 0));
        font-size: 2em;
        width: 0;
        visibility: hidden;
      }

      &-item {
        display: inline-block;
        padding: $overview-topic-item-padding;
        margin: $overview-topic-item-margin; @include transition(margin);
        font-style: italic;
        &__selected {
          margin: scale-list($overview-topic-item-margin, (1 10 1 1));
          font-style: normal;
        }
        &:nth-last-child(3)#{&}__selected {
          margin: scale-list($overview-topic-item-margin, (1 6 1 1));
        }
        &:nth-last-child(2)#{&}__selected {
          margin: scale-list($overview-topic-item-margin, (1 3 1 1));
        }
        &:last-child#{&}__selected {
          margin: $overview-topic-item-margin;
        }
      }
      &:hover &-item {
        margin: $overview-topic-item-margin;
        font-style: normal;
      }
    }

    &_topic-heading {
      @include color('heading'); font-size: 1.5em; font-style: italic;
      @include transition($transition-font);
      &:hover {
        font-size: 2em; font-style: normal;
      }
    }
    &_topic-item__selected &_topic-heading {
      font-size: 2em; font-style: normal;
    }

    &_heading {
      @extend %overview-row;
      @include color('primary-fc'); @include transition(color);
      &__with-timeline {
        @extend %overview-row__with-timeline;
      }
    }
  }
}

@include scope('.s-overview') {
  @include u-base;
  @include b-overview;
}

.overview-icon {
  position: absolute;
  left: -1em;
  color: inherit; font-size: .75em;
  @include background-color('primary-bc'); @include transition(background-color);
  @include transition(color);

  a > & {
    @include color('secondary-fc-dark');
  }
  a:visited > & {
    @include color('accent');
  }

  &_wrapper {
    @include color('secondary-fc-dark'); @include transition(color);
  }

  &_itself {}
}

.overview-post {
  @extend %overview-row;
  &__with-timeline {
    @extend %overview-row__with-timeline;
  }

  &_title {
    @extend %overview-post_title;
  }
  &:hover &_title {
    @extend %overview-post_title:hover;
  }

  &_excerpt {
    @extend %overview-post_excerpt;
  }
  &:hover &_excerpt {
    @extend %overview-post_excerpt:hover;
  }

  &_meta {
    @extend %overview-post_meta;
  }

  &_meta-date, &_meta-comments {
    @extend %overview-post_meta-element;
  }
  &:hover &_meta-date, &:hover &_meta-comments {
    @extend %overview-post_meta-element:hover;
  }

  &_view-more {
    @extend %overview-block;
    text-align: center;
  }
}

.overview-categories {
  &_link {
    @include item-link('bar');
  }
  &_name {
  }
}

.overview-tags {
  display: inline-block;

  &_list {
    // todo
    @extend %overview-row__half;
    &-item {
      @extend %overview-btn;
      @include item-link('tag');
    }
  }

  &_name {
  }
}

.overview-archive {
  &_link {
    @include item-link('bar');
  }
  &_date {

  }
  &_count {
    float: right;
  }
}
